@import '../../../../variables.scss';

.header-container{
    height: $header-height;
    background-color: #073380;
}
.head-icon{
    margin-left: 16px;
    @media screen and (max-width: 576px){
        height: 30px;
        width: auto;
    }
}