<div class="header-container">
    <div class="row full-height align-items-center">
        <div class="col-12">
            <img class="head-icon" src="assets/shared/header/app-icon.svg"/>
        </div>
    </div>
</div>