<div class="hotel-search-container">
    <div class="row hotel-search-content full-height">
        <div class="col-4 d-none d-sm-none d-md-none d-lg-block">
            <div class="row justify-content-center">
                <div class="col-12 filters-container">
                    <div class="full-width centered-container filters-title-container">
                        <h5 class="no-margin-text">Filtros</h5>
                    </div>
                    <hr class="divider"/>
                    <div class="full-width filter-container hand" (click)="toggle('NAME')">
                        <img src="assets/hotels/search.svg" class="to-left search-icon"/>
                        <h6 class="name-filter-title to-left">Nombre del hotel</h6>
                        <img src="assets/hotels/hide.svg" class="to-right search-icon"/>
                    </div>
                    <div [@isHotelOpen]="currentNameState" class="row no-gutters full-width medium-margin">
                        <div class="col-xl-8 col-lg-8 col-12 search-input-container">
                            <input [ngModel]="searchForm.hotelName" (ngModelChange)="onNameChange($event)" class="base-input full-width" placeholder="Ingresa el nombre del Hotel"/>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-12 search-button-container">
                            <button class="base-button full-width" (click)="fetchHotels(true)">Buscar</button>
                        </div>
                    </div>
                    <hr class="divider"/>
                    <div class="full-width filter-container hand" (click)="toggle('STARS')">
                        <img src="assets/hotels/star.svg" class="to-left search-icon"/>
                        <h6 class="name-filter-title to-left">Estrellas</h6>
                        <img src="assets/hotels/hide.svg" class="to-right search-icon"/>
                    </div>
                    <div [@isStarsOpen]="currentStarsState" class="full-width row no-gutters">      
                        <div class="col-12 medium-margin">
                            <mat-checkbox (change)="onStarChanged(searchForm.allControl === true)" [(ngModel)]="searchForm.allControl" value="1"><h6 class="no-margin-text">Todas las estrellas</h6></mat-checkbox>
                        </div>
                        <div class="col-12">
                            <mat-checkbox [disabled]="searchForm.allControl === true" (change)="onStarChanged(false)" [(ngModel)]="searchForm.fiveStarsControl" class="to-left" value="1"></mat-checkbox>
                            <img class="to-left first-star star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                        </div>
                        <div class="col-12">
                            <mat-checkbox [disabled]="searchForm.allControl === true" (change)="onStarChanged(false)" [(ngModel)]="searchForm.fourStarsControl" class="to-left" value="1"></mat-checkbox>
                            <img class="to-left first-star star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                        </div>
                        <div class="col-12">
                            <mat-checkbox [disabled]="searchForm.allControl === true" (change)="onStarChanged(false)" [(ngModel)]="searchForm.threeStarsControl" class="to-left" value="1"></mat-checkbox>
                            <img class="to-left first-star star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                        </div>
                        <div class="col-12">
                            <mat-checkbox [disabled]="searchForm.allControl === true" (change)="onStarChanged(false)" [(ngModel)]="searchForm.twoStarsControl" class="to-left" value="1"></mat-checkbox>
                            <img class="to-left first-star star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                        </div>
                        <div class="col-12">
                            <mat-checkbox [disabled]="searchForm.allControl === true" (change)="onStarChanged(false)" [(ngModel)]="searchForm.oneStarsControl" class="to-left" value="1"></mat-checkbox>
                            <img class="to-left first-star star-icon" src="assets/hotels/yellow-star.svg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 wrapped-filter-container hand d-lg-none">
            <div class="row full-width wrapper-filter-title" (click)="toggle('FILTER')">
                <div class="col-12 text-center wrapper-filter-title-content">
                    <h5>Filtrar</h5>
                    <img src="assets/hotels/hide.svg" class="search-icon"/>
                </div>
            </div>
            <div [@isFilterOpen]="currentFilterState" class="row full-width wrapper-filter-content">
                <div class="col-12 text-center wrapper-filter-title-content">
                    <div class="row no-gutters full-width centered-container">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-12 search-input-container">
                            <input [ngModel]="searchForm.hotelName" (ngModelChange)="onNameChange($event)" class="base-input full-width" placeholder="Ingresa el nombre del Hotel"/>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-12 small-margin search-button-container">
                            <button class="base-button full-width" (click)="fetchHotels(true)">Buscar</button>
                        </div>
                    </div>
                    <div class="full-width row justify-content-center no-gutters">      
                        <div class="col-auto medium-margin">
                            <mat-checkbox (change)="onStarChanged(searchForm.allControl === true)" [(ngModel)]="searchForm.allControl" value="1"><h6 class="no-margin-text">Todas las estrellas</h6></mat-checkbox>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-auto">
                            <mat-checkbox [disabled]="searchForm.allControl === true" (change)="onStarChanged(false)" [(ngModel)]="searchForm.fiveStarsControl" class="to-left" value="1"></mat-checkbox>
                            <img class="to-left first-star star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-auto">
                            <mat-checkbox [disabled]="searchForm.allControl === true" (change)="onStarChanged(false)" [(ngModel)]="searchForm.fourStarsControl" class="to-left" value="1"></mat-checkbox>
                            <img class="to-left first-star star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-auto">
                            <mat-checkbox [disabled]="searchForm.allControl === true" (change)="onStarChanged(false)" [(ngModel)]="searchForm.threeStarsControl" class="to-left" value="1"></mat-checkbox>
                            <img class="to-left first-star star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-auto">
                            <mat-checkbox [disabled]="searchForm.allControl === true" (change)="onStarChanged(false)" [(ngModel)]="searchForm.twoStarsControl" class="to-left" value="1"></mat-checkbox>
                            <img class="to-left first-star star-icon" src="assets/hotels/yellow-star.svg"/>
                            <img class="to-left star-icon" src="assets/hotels/yellow-star.svg"/>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-auto">
                            <mat-checkbox [disabled]="searchForm.allControl === true" (change)="onStarChanged(false)" [(ngModel)]="searchForm.oneStarsControl" class="to-left" value="1"></mat-checkbox>
                            <img class="to-left first-star star-icon" src="assets/hotels/yellow-star.svg"/>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-lg-8 col-12 list-container" *ngIf="error === undefined && notFound === undefined" 
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onListScroll()"
            [scrollWindow]="false">
            <app-hotel-list-item class="medium-margin" *ngFor="let hotel of hotels" [hotel]="hotel"></app-hotel-list-item>
            <div class="spinner-container">
                <mat-spinner *ngIf="loading" class="mx-auto" diameter="37"></mat-spinner>
            </div>
        </div>
        <div class="col-lg-8 col-12 error-container text-center" *ngIf="error !== undefined">
            <img src="assets/shared/error.svg" class="error-icon"/>
            <br>
            <h4 class="big-margin">¡Vaya! Tuvimos un error, intentalo de nuevo</h4>
            <br>
            <button class="base-button" (click)="fetchHotels(true)">REINTENTAR</button>
        </div>
        <div class="col-lg-8 col-12 error-container text-center" *ngIf="notFound !== undefined">
            <img src="assets/shared/not-found.svg" class="error-icon"/>
            <br>
            <h4 class="big-margin">No encontramos ningun resultado, intenta con una busqueda diferente :)</h4>
        </div>
    </div>
</div>