@import '../../../variables.scss';

.hotel-search-container{
    width: 100%;
    height: calc(100% - #{$header-height});
    background-color: #f4f4f4;
    overflow-y: auto;
}
.filters-container{
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.44);
    box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.44);
}
.first-star{
    margin-left: 8px;
}
.hotel-search-content{
    padding: 16px;
    @media screen and (max-width: 991px){
        padding: 0px;
    }
}
.filter-container{
    min-height: 20px;
}
.star-icon{
    height: 20px;
    width: auto;
}
.search-icon{
    height: 20px;
    margin-right: 8px;
    color: #0078b7;
    fill: #0078b7;
}
.name-filter-title{
    color: #0078b7;
}
.wrapped-filter-container{
    background-color: white;
    height: min-content;
    padding: 0px;
    min-height: 64px;
    position: absolute;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.24);
    box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.24);
}
.list-container{
    overflow-y: auto;
    @media screen and (max-width: 991px){
        overflow-y: none;
        margin-top: 80px;
    }
}
.wrapper-filter-title{
    position: relative;
    height: 64px;
}
.wrapper-filter-title-content{
    padding: 16px;
}
.wrapper-filter-title-content > h5{
    margin-right: 10px;
}
.wrapper-filter-title-content > h5, .wrapper-filter-title-content > img{
    display: inline-block;
}
.search-input-container{
    padding-right: 4px;
    @media screen and (max-width: 767px){
        padding-right: 0;
    }
}
.search-button-container{
    padding-left: 4px;
    @media screen and (max-width: 767px){
        padding-left: 0;
    }
}
.spinner-container{
    margin-top: 16px;
    padding: 8px;
    margin-bottom: 16px;
}
.error-icon{
    height: 100px;
    width: auto;
}
.error-container{
    margin-top: 120px;
}