<div class="row no-gutters small-margin list-item-container" *ngIf="hotel !== undefined">
    <div class="col-lg-4 col-md-4 col-12 list-image-container" *ngIf="picPath !== undefined">
        <img class="hotel-image" [offset]="100000" [defaultImage]="'../../../assets/hotels/hotel-placeholder.jpg'" [lazyLoad]="picPath" [offset]="500">
    </div>
    <div class="col-lg-4 col-md-4 col-12 list-general-info-container">
        <div class="list-info-content">
            <h4 class="hotel-name-title no-margin-text">{{hotel.$name}}</h4>
            <div class="rating-container" *ngIf="starsArray !== undefined">               
                <img *ngFor="let star of starsArray" class="star-icon" src="assets/hotels/yellow-star.svg"/>
            </div>
            <div class="amenities-container medium-margin">
                <img *ngFor="let amenity of hotel.amenities" class="amenity-icon" src="http://localhost:3000/assets/amenity/{{amenity}}.svg" />
            </div>
            <br>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12 price-info-container centered-container">
        <div class="text-center mx-auto price-info-content">
            <h6 class="price-holder-text">Precio por noche por habitacion</h6>
            <div class="price-container centered-container">
                <h5 class="currency-holder">ARS</h5>
                <h4 class="price-holder">{{hotel.$price | currency:'ARS':'symbol-narrow'}}</h4>
            </div>            
            <button class="base-button full-width">VER HOTEL</button>
        </div>
    </div>
</div>