.list-item-container{
    height: 200px;
    background-color: white;
    max-height: 200px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.44);
    box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.44);
    @media screen and (max-width: 767px){
        height: 600px;
        max-height: 600px;
    }
}
.list-general-info-container{
    padding: 8px;
    border-bottom: none;
    @media screen and (max-width: 767px){
        border-bottom: dotted 1px #8c8c8c;
    }
}
img.ng-lazyloaded {
    opacity: 1;
}
.hotel-image{
    height: 100%;
    min-height: 200px;
    min-width: 100%;
    width: 100%;
    transition: opacity 1s;
    opacity: 0;
    object-fit: cover;
    @media screen and (max-width: 767px){
        height: 300px;
    }
}
.price-info-container{
    padding: 8px;
    border-left: dotted #8c8c8c 1px;
    @media screen and (max-width: 767px){
        border-left: none;
    }
}
.price-info-container div{
    @media screen and (max-width: 767px){
        margin: 0 auto;
    }
}
.price-holder-text{
    color: #8c8c8c;
    font-size: 0.7em;
}
.price-container{
    display: inline-flex;
    color: #ff7c00;
}
.hotel-name-title{
    color: #0078b7;
    text-overflow: ellipsis;
    max-width: 190px;
}
.rating-container{
    height: 20px;
    @media screen and (max-width: 767px){
        margin: 0 auto;
        text-align: center
    }
}
.star-icon{
    height: 20px;
    width: auto;
}
.list-info-content{
    width: max-content;
    @media screen and (max-width: 767px){
        margin: 0 auto;
        text-align: center
    }
}
.currency-holder{
    margin-right: 4px;
}
.amenity-icon{
    height: 25px;
    width: auto;
    margin: 4px;
}
