/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    width: 100%;
}
.full-height{
    height: 100%;
}
.full-width{
    width: 100%;
}
.no-margin-text{
    margin-bottom: 0;
}
.divider{
    margin-top: 16px;
    margin-bottom: 16px;
}
.centered-container{
    display: flex;
    align-items: center;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.to-left{
    float: left;
}
.to-right{
    float: right;
}
.small-margin{
    margin-top: 8px;
}
.medium-margin{
    margin-top: 16px;
}
.big-margin{
    margin-top: 32px;
}
.hand{
    cursor: pointer;
}
.base-input{
    padding: 8px;
    outline: none;
    outline-color: none;
    font-size: 0.95em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 2px #073380;
    transition: all 0.6s ease-in-out;
}
.base-input:hover{
    border-bottom: solid 4px #073380;
}
.base-input:focus{
    border-bottom: solid 4px #073380;
}
.base-button{
    background-color: #073380;
    color: white;
    padding: 8px;
    outline: none;
    outline-color: none;
    border-radius: 5px;
    border-color: #073380;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.base-button:hover{
    background-color: #052050;
}
button:focus {outline:0;}
